html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

img {
    image-rendering: -moz-auto;
    image-rendering: -o-auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
    -ms-interpolation-mode: nearest-neighbot;
}

:root {
    --color-dark: #494e52;
    --color-doc-found: #5193e8;
    --color-doc-not-found: #ff9d9c;
    --bs-dark: #262626;
}

#progress {
    width: 100%;
    height: 5px;
    position: absolute;
    z-index: 10010;
}

.gravatar-dropdown-mobile {
    width: 100%;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0px;
    padding-top: 6px;
}

.gravatar-mobile {
    float: right;
    margin: 0;
    list-style: none;
    margin-right: 15px;
}

.scroll-top {
    display: inline-block;
    padding: 10px;
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 70px;
    border-radius: 100%;
    height: 60px;
    background-color: #fff;
    color: #00AFFF;
    margin: 0 20px 20px 0;
    opacity: 80%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
}

#scroll-icon {
    margin: 13px;
}

.scroll-bottom {
    display: inline-block;
    padding: 10px;
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    height: 60px;
    background-color: #fff;
    color: #00AFFF;
    margin: 0 20px 20px 0;
    opacity: 80%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.dropdownstartdesktop {
    top: 39px;
    right: 10px;
    left: auto;
    margin-top: 0;
    margin-right: .125rem;
}

#toc {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#instagramCardBody {
    padding: 0.4rem !important;
}

.dropdown-divider {
    margin: 0;
}

.sizer {
    max-width: 1300px;
    margin: auto;
}

#gravatar-img {
    margin-top: 2.5px;
    margin-right: 3px;
}

#gravatar-dropdown {
    padding-right: 10px;
}

td {
    padding: 7px 10px !important;
}

h1, h2, h3, h4, h5, h6 {
    padding: 3px 7px;
}

.container-fluid {
    padding-left: var(--bs-gutter-x, 1.1rem);
    padding-right: 0;
}

.all-in-data {
    padding: 4px 5px;
}

.navbar {
    background-color: #149cdc !important;
    height: 48px;
    position: relative;
    margin: auto;
    z-index: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item {
    z-index: 2;
}

.navbar-toggler {
    z-index: 2;
}

.content-tools {
    font-size: 20px;
    float: right;
}

.fixedtop {
    position: fixed !important;
    z-index: 10000 !important;
}

.tools {
    color: #149cdc;
}

#topic_color {
    color: #39c0ed;
}

#searchform-desktop {
    float: right;
}

#searchform-mobile {
    display: none;
    height: 39px;
}

.logo {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo .logo_inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.fas, .fa, .far {
    padding-right: 6px;
}

body {
    background-color: #ededed !important;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.95rem;
    font-display: swap;
}

.container-fluid {
    background-color: #149cdc !important;
    z-index: 2;
    max-width: 1300px;
}

#searchGoButton {
    box-shadow: none;
}

#recentItemtime {
    float: right;
    color: #4f4f4f;
}

#content-title {
    font-size: 20px;
}

.recentItem {
    list-style: none;
    padding-left: 0px;
    font-size: 15px;
}

.recentChange {
    padding-left: 3px;
    line-height: 1.8;
    margin-top: -10px;
    margin-bottom: 0;
}

.twitter-card {
    padding-left: 3px;
    line-height: 1.8;
    margin-top: -13px;
    margin-bottom: -8px;
}

th, td {
    border: 1px solid #ededed !important;
    font-weight: normal;
    line-height: 19px;
    padding-top: 9px !important;
    padding-bottom: 7px !important;
}

input {
    border: 1px solid #e1e8ed;
    padding: 5px;
    border-radius: 3px;
}

footer {
    width: 100%;
    z-index: 100;
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
}

.logoimg {
    height: 40px;
    z-index: 10000;
}

/*
    background-size: 20px 20px;
    background-color: #ffefbc;
    background-image:
        linear-gradient(to right, white 1px, transparent 1px),
        linear-gradient(to bottom, white 1px, transparent 1px);
        */
/* #ffefbc #ffde5b*/

/* ============= */
button {
    border: 1px solid #aaa;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background: white;
}


#cate {
    border: 0px solid;
    padding: 0.4rem;
    padding-left: 0.7rem !important;
    margin-bottom: 0.8rem;
    border-radius: 0.35rem;
    display: inline-block;
    width: 100%;
}

input {
    width: 100%;
}

#out_link::before {
    padding: 2px !important;
    padding-right: 1px !important;
    margin-right: 2px !important;
    background: transparent !important;
    color: green !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 600;
    content: '\f35d' !important;
}

#out_link {
    color: #008000;
}

input:hover, button:hover, a:hover, select:hover, input:not(:hover), button:not(:hover), a:not(:hover), select:not(:hover) {
    transition: 0.2s;
}

input[type=search] {
    -webkit-appearance: none;
    /* iOS 잡다한 css설정 제거 */
}

textarea {
    width: 100%;
    border: 1px solid #e1e8ed;
    padding: 0.5rem;
}

button#save {
    background-color: #0275d8;
    border-color: #0275d8;
    color: white;
    margin-right: 5px;
}

button#save:hover {
    background-color: #025aa5;
    border-color: #025aa5;
}

button#searchGoButtonMobile {
    background-color: #60B1EF;
    color: white;
    box-shadow: none;
    z-index: 0;
    margin-left: 0;
    border-radius: 0;
}

.custom-dropdown-toggle {
    content: none;
}

select[name="skin"] {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    padding: .2rem .4rem;
    font-family: none;
    outline: none;
}

select[name="lang"] {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    padding: .2rem .4rem;
    font-family: none;
    outline: none;
}

input[type="password"] {
    margin-top: 10px;
}

/* ============== 해상도 레이아웃 ============== */
@media (min-width: 992px) {
    #searchform-mobile {
        display: none !important;
    }

    .gravatar-dropdown-mobile {
        display: none;
    }
}
/* PC 옵션 */

@media (max-width: 991px) {
    #searchform-desktop {
        display: none !important;
    }

    #searchform-mobile {
        max-width: 100%;
    }

    .nav-item {
        padding-top: 11px;
        padding-right: 20px;
    }

    .gravatar-dropdown {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }
}
/* 드롭다운O, 모바일창x */

@media (min-width: 851px) {
    .col-md-5 {
        width: 300px;
    }

    .col-md-7 {
        -ms-flex: 0 0 calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
    }

    .container {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 3%;
        max-width: 100%;
    }
}
/* 태블릿, PC 공통옵션 */

@media (max-width: 850px) {
    .gravatar-dropdown {
        display: none;
    }

    #searchform-desktop {
        display: none !important;
    }

    .dropdownstart {
        top: 50px;
        right: 10px;
        left: auto;
        margin-top: 0;
        margin-right: .125rem;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: .5rem;
        max-width: 100%;
    }

    .col-md-7 {
        flex: 0 0 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .row {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }

    .col-md-5 .mb-5 {
        display: none;
    }

    .mt-4 {
        margin-top: -1px !important;
    }

    .all_in_data {
        margin-left: 0px;
    }

    .mb-5 {
        margin-bottom: 0 !important;
    }

    #content-card {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        border-radius: 0 !important;
    }
}

/*
MIT LICENSE
Copyright (c) 2014 Timo Schäfer

하단 CHERRYBLOSSOM CSS의 저작권은 Timo Schäfer에게 있으며, MIT 라이선스로 배포됩니다.
https://github.com/timoschaefer/jQuery-Sakura
*/
/* CHERRYBLOSSOM */
@-webkit-keyframes fall {
    0% {
        opacity: .9;
        top:0
    }

    100% {
        opacity: .2;
        top:100%
    }
}

@keyframes fall {
    0% {
        opacity: .9;
        top:0
    }

    100% {
        opacity: .2;
        top:100%
    }
}

@-webkit-keyframes blow-soft-left {
    0% {
        margin-left:0
    }

    100% {
        margin-left:-50%
    }
}

@keyframes blow-soft-left {
    0% {
        margin-left:0
    }

    100% {
        margin-left:-50%
    }
}

@-webkit-keyframes blow-medium-left {
    0% {
        margin-left:0
    }

    100% {
        margin-left:-100%
    }
}

@keyframes blow-medium-left {
    0% {
        margin-left:0
    }

    100% {
        margin-left:-100%
    }
}

@-webkit-keyframes blow-soft-right {
    0% {
        margin-left:0
    }

    100% {
        margin-left:50%
    }
}

@keyframes blow-soft-right {
    0% {
        margin-left:0
    }

    100% {
        margin-left:50%
    }
}

@-webkit-keyframes blow-medium-right {
    0% {
        margin-left:0
    }

    100% {
        margin-left:100%
    }
}

@keyframes blow-medium-right {
    0% {
        margin-left:0
    }

    100% {
        margin-left:100%
    }
}

@-webkit-keyframes sway-0 {
    0% {
        -webkit-transform:rotate(-5deg)
    }

    40% {
        -webkit-transform:rotate(28deg)
    }

    100% {
        -webkit-transform:rotate(3deg)
    }
}

@keyframes sway-0 {
    0% {
        -ms-transform: rotate(-5deg);
        transform:rotate(-5deg)
    }

    40% {
        -ms-transform: rotate(28deg);
        transform:rotate(28deg)
    }

    100% {
        -ms-transform: rotate(3deg);
        transform:rotate(3deg)
    }
}

@-webkit-keyframes sway-1 {
    0% {
        -webkit-transform:rotate(10deg)
    }

    40% {
        -webkit-transform:rotate(43deg)
    }

    100% {
        -webkit-transform:rotate(15deg)
    }
}

@keyframes sway-1 {
    0% {
        -ms-transform: rotate(10deg);
        transform:rotate(10deg)
    }

    40% {
        -ms-transform: rotate(43deg);
        transform:rotate(43deg)
    }

    100% {
        -ms-transform: rotate(15deg);
        transform:rotate(15deg)
    }
}

@-webkit-keyframes sway-2 {
    0% {
        -webkit-transform:rotate(15deg)
    }

    40% {
        -webkit-transform:rotate(56deg)
    }

    100% {
        -webkit-transform:rotate(22deg)
    }
}

@keyframes sway-2 {
    0% {
        -ms-transform: rotate(15deg);
        transform:rotate(15deg)
    }

    40% {
        -ms-transform: rotate(56deg);
        transform:rotate(56deg)
    }

    100% {
        -ms-transform: rotate(22deg);
        transform:rotate(22deg)
    }
}

@-webkit-keyframes sway-3 {
    0% {
        -webkit-transform:rotate(25deg)
    }

    40% {
        -webkit-transform:rotate(74deg)
    }

    100% {
        -webkit-transform:rotate(37deg)
    }
}

@keyframes sway-3 {
    0% {
        -ms-transform: rotate(25deg);
        transform:rotate(25deg)
    }

    40% {
        -ms-transform: rotate(74deg);
        transform:rotate(74deg)
    }

    100% {
        -ms-transform: rotate(37deg);
        transform:rotate(37deg)
    }
}

@-webkit-keyframes sway-4 {
    0% {
        -webkit-transform:rotate(40deg)
    }

    40% {
        -webkit-transform:rotate(68deg)
    }

    100% {
        -webkit-transform:rotate(25deg)
    }
}

@keyframes sway-4 {
    0% {
        -ms-transform: rotate(40deg);
        transform:rotate(40deg)
    }

    40% {
        -ms-transform: rotate(68deg);
        transform:rotate(68deg)
    }

    100% {
        -ms-transform: rotate(25deg);
        transform:rotate(25deg)
    }
}

@-webkit-keyframes sway-5 {
    0% {
        -webkit-transform:rotate(50deg)
    }

    40% {
        -webkit-transform:rotate(78deg)
    }

    100% {
        -webkit-transform:rotate(40deg)
    }
}

@keyframes sway-5 {
    0% {
        -ms-transform: rotate(50deg);
        transform:rotate(50deg)
    }

    40% {
        -ms-transform: rotate(78deg);
        transform:rotate(78deg)
    }

    100% {
        -ms-transform: rotate(40deg);
        transform:rotate(40deg)
    }
}

@-webkit-keyframes sway-6 {
    0% {
        -webkit-transform:rotate(65deg)
    }

    40% {
        -webkit-transform:rotate(92deg)
    }

    100% {
        -webkit-transform:rotate(58deg)
    }
}

@keyframes sway-6 {
    0% {
        -ms-transform: rotate(65deg);
        transform:rotate(65deg)
    }

    40% {
        -ms-transform: rotate(92deg);
        transform:rotate(92deg)
    }

    100% {
        -ms-transform: rotate(58deg);
        transform:rotate(58deg)
    }
}

@-webkit-keyframes sway-7 {
    0% {
        -webkit-transform:rotate(72deg)
    }

    40% {
        -webkit-transform:rotate(118deg)
    }

    100% {
        -webkit-transform:rotate(68deg)
    }
}

@keyframes sway-7 {
    0% {
        -ms-transform: rotate(72deg);
        transform:rotate(72deg)
    }

    40% {
        -ms-transform: rotate(118deg);
        transform:rotate(118deg)
    }

    100% {
        -ms-transform: rotate(68deg);
        transform:rotate(68deg)
    }
}

@-webkit-keyframes sway-8 {
    0% {
        -webkit-transform:rotate(94deg)
    }

    40% {
        -webkit-transform:rotate(136deg)
    }

    100% {
        -webkit-transform:rotate(82deg)
    }
}

@keyframes sway-8 {
    0% {
        -ms-transform: rotate(94deg);
        transform:rotate(94deg)
    }

    40% {
        -ms-transform: rotate(136deg);
        transform:rotate(136deg)
    }

    100% {
        -ms-transform: rotate(82deg);
        transform:rotate(82deg)
    }
}

.sakura {
    z-index: 0;
    background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, .9), rgba(255, 197, 208, .9));
    background: linear-gradient(120deg, rgba(255, 183, 197, .9), rgba(255, 197, 208, .9));
    pointer-events: none;
    position: absolute
}

/*
MIT LICENSE
Copyright (c) CodeSeven

하단 TOASTR CSS의 저작권은 CodeSeven에게 있으며, MIT 라이선스로 배포됩니다.
https://github.com/CodeSeven/toastr
*/
/* TOASTR CSS */
.toast-title {
    font-weight:700
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap:break-word
}

.toast-message a, .toast-message label {
    color:#fff
}

.toast-message a:hover {
    color: #ccc;
    text-decoration:none
}

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    line-height:1
}

.toast-close-button:focus, .toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity:.4
}

.rtl .toast-close-button {
    left: -.3em;
    float: left;
    right:.3em
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance:none
}

.toast-top-center {
    top: 0;
    right: 0;
    width:100%
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width:100%
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width:100%
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width:100%
}

.toast-top-left {
    top: 12px;
    left:12px
}

.toast-top-right {
    top: 12px;
    right:12px
}

.toast-bottom-right {
    right: 12px;
    bottom:12px
}

.toast-bottom-left {
    bottom: 12px;
    left:12px
}

#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events:none
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity:.8
}

#toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position:right 15px center
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    width: 300px;
    margin-left: auto;
    margin-right:auto
}

#toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right:auto
}

.toast {
    background-color:#030303
}

.toast-success {
    background-color:#51a351
}

.toast-error {
    background-color:#bd362f
}

.toast-info {
    background-color:#2f96b4
}

.toast-warning {
    background-color:#f89406
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity:.4
}

@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width:11em
    }

    #toast-container > div.rtl {
        padding:8px 50px 8px 8px
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top:-.2em
    }

    #toast-container .rtl .toast-close-button {
        left: -.2em;
        right:.2em
    }
}

@media all and (min-width: 241px) and(max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width:18em
    }

    #toast-container > div.rtl {
        padding:8px 50px 8px 8px
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top:-.2em
    }

    #toast-container .rtl .toast-close-button {
        left: -.2em;
        right:.2em
    }
}

@media all and (min-width: 481px) and(max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width:25em
    }

    #toast-container > div.rtl {
        padding: 15px 50px 15px 15px
    }
}

