@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
} 

table {
    border-color: #fff;
    background-color: #fff;
    border-radius: 5px;
    border-collapse: collapse;
}

img {
    width: 100px;
    height: 100px;
}